<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Productos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>${{ product.price }}</p>
      </ion-label>
      <ion-button (click)="addToCart(product)">Agregar al carrito</ion-button>
    </ion-item>
  </ion-list>
  <hr>
  <ion-footer style="margin-left: 10px;">
    <ion-icon name="cart" size="large"></ion-icon> <ion-badge color="danger" [routerLink]="['/cart']" style="cursor: pointer; color: white; font-size: 1rem;">{{cartItems}}</ion-badge>
  </ion-footer>
</ion-content>
